@mixin countryImg{
	img{
		width: 150px;
		height: 100px;
		cursor: pointer;

	}
} 

.filters{
	margin: 0 auto;
	display: flex;
	color: #ffff;
	width: 300px;
	justify-content: space-between;
	margin-bottom: 60px;
	margin-top: 15px;
	font-size: 18px;
	.filter{
		cursor: pointer;
	}

}
.active{
	font-weight: bold;
}
.countries{
	display: flex;
	flex-wrap:wrap;
	width: 1500px;
	margin: 0 auto;
	margin-bottom: 35px;
	// justify-content:center;



	.shortInfo{
		text-align: center;
		box-sizing: border-box;
		padding: 20px;
		flex: 0 1 20%;
		color: #ffff;
		@include countryImg;

		.name{
			cursor: pointer;

			margin-top: 5px;
		}
	}
}

.continents{
	.validContinent{
		margin-top: 80px;
		&:first-child{
		margin-top:70px;

		}
	}
	color: #ffff;
	@include countryImg;
	.nameContinent{
		font-size: 25px;
		font-weight: 600;
		text-align: center;
		letter-spacing: 5px;
		// margin-top: 50px;
		margin-bottom: 15px;
	}
}

.preloader{
text-align: center;

}